<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EventIt</title>
    <link <link
        href="data:image/x-icon;base64,AAABAAEAEBAQAAEABAAoAQAAFgAAACgAAAAQAAAAIAAAAAEABAAAAAAAgAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAA7fUFAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAREREREREAABEREREREQAAEREAAAERAAAREQEREREAABERAREREQAAEREAARERAAAREQABEREAABERAREREQAAEREBERERAAAREQAAAREAABEREREREQAAERERERERAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA"
        rel="icon" type="image/x-icon" />
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
</head>

<body class="d-flex flex-column events">
    <nav class="navbar navbar-expand-lg navbar-light py-0" style="background-color: purple;">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                <p class="has-text-black"><img src="https://pbs.twimg.com/profile_images/1045671258/e.jpg" alt="EventIt"
                        class="img-thumbnail mb-1" style="height: 40px;background-color: black;"></p>
            </a>
            <% if(currentUser){ %>
                <a class="nav-link" href="/profile"><i class="fa fa-user-circle-o" id="user"
                        style="font-size:36px;color: black;" aria-hidden="false"></i>
                </a>
                <% }%>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <div class="navbar-nav">
                            <% if(currentUser){ %>
                                <a class="nav-link" href="/events"><button class="button"><span>All
                                            posts</span></button></a>
                                <a class="nav-link" href="/events/new"><button class="button"><span>Make a
                                            Post</span></button></a>
                                <a class="nav-link" href="/events/create"><button
                                        class="button"><span>Create-Event</span></button></a>
                                <a class="nav-link" href="/events/view"><button class="button"><span>View
                                            Events</span></button></a>
                                <% }%>
                        </div>
                        <div class=" navbar-nav ml-auto">
                            <% if(!currentUser){ %>
                                <a class="nav-link" href="/login"><button class="button"><span>Login</span></button></a>
                                <a class="nav-link" href="/register"><button
                                        class="button"><span>Sign-Up</span></button></a>
                                <% }else{ %>
                                    <a class="nav-link" href="/logout"><button
                                            class="button"><span>Logout</span></button></a>
                                    <% } %>
                        </div>

                    </div>
        </div>
    </nav>
    <div class="container-fluid p-0">
        <%- include("partials/flash") %>
            <div class="container mt-5">
                <div class="row">
                    <% for(let event of events){%>
                        <div class="card m-3 d-flex" style="width: 18rem;background-color: purple;">
                            <% if(event.images[0]){%>
                                <img src="<%= event.images[0].url %> " class="img-thumbnail mt-3" alt="...">
                                <% }else{ %>
                                    <img src="https://i.stack.imgur.com/y9DpT.jpg" class="img-thumbnail mt-3" alt="...">
                                    <% } %>
                                        <div class="card-body">
                                            <h5 class="card-title text-white">
                                                <%= event.name %>
                                            </h5>
                                            <p class="card-text text-black">
                                                <%= event.description %>
                                            </p>
                                            <a href="/events/create/<%= event._id %> "
                                                class="btn btn-secondary">Enter</a>
                                        </div>
                        </div>
                        <% } %>
                </div>
            </div>
    </div>
    <%- include("partials/footer") %>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
            crossorigin="anonymous"></script>
        <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
        <script src="/javascript/javascript.js"></script>
</body>

</html>